@media (min-width: 375px) and (max-width: 667px) {

  * {
    list-style: none;
    text-decoration: none;
    font-family: 'roboto';
  }

  h1 {
    font-family: 'shrikhand';
  }

  p {
    font-family: 'roboto', sans-serif;
  }

  /*FIN DU LOADER*/

  body {       /*new*/
    width: 100%;
    display: flex;
    flex-direction: column;  
  }
  .logo_header {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-left: 60px;
  }

  .logo img {  /*new*/
    max-width: 300px; }

  img { /*new*/
    width: 100%;
  }
  .headerMenu {
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 16px #000000a2;
    width: 100%;
    height: 60px;
    margin-top: 0%;
    display: flex;
    background-color: #fff;
  }
  .CardHeader {
    background-color: #fff;
    margin-left: 30px; }

  .location_content { /*CORRIGE*/
    padding: 5px;
    width: 50%;
    margin-top: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .back {
    position: absolute;
    left: 5%;
    top: 4%; }

  .headerMenu_logo {
    max-width: 300px;
  }
/*--------------------------------*/
  .fondgrisexplore {
    background-color: #f5f5f5ec;
    padding: 20px;
    padding-bottom: 40px;
    position: relative;
    text-align: center;
  }
  .fondgrisexplore h1 {
    font-size: 25px;
    text-align: center;
    font-weight: bold;
  }
  .fondgrisexplore p {
    font-size: 20px;
    text-align: center;
  }
  .btn_explorer {
    top: 80%;
    padding: 13px 20px 13px 20px;
    font-size: 12px;
    margin: 15px;
    color: white;
    background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
    box-shadow: 0 0 16px #0f0f0f5b;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: filter 300ms;
    transition: box-shadow 250ms;
  }
  .btn_explorer:hover {
    box-shadow: 0 0 16px #00000088;
    filter: brightness(1.15);
  }

  .header_location {
    background-color: #e2e1e1d8;
    display: flex;
    height: 50px;
    justify-content: center;
  }

  .location_content {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .location_content p {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    left: 10px;
  }
  .location_content i {
    position: relative;
    left: 0;
  }

  .fonctionnement_title {
    margin: 20px;
    margin-top: 35px;
    font-weight: bold;
    font-size: 18px;
  }

  .etape {
    display: flex;
    align-items: center;
    margin: 15px; 
  }
    .etape span {
      display: flex;
      justify-content: space-around;
      background-color: #f5f5f5ec;
      padding: 20px;
      width: 100%;
      border-radius: 13px;
      font-size: 15px;
      box-shadow: 0 0 10px #a3a3a373;
      font-weight: bold;
      margin-left: -5px;
      z-index: -1; 
    }
      .etape span i {
        margin-right: 5px;
        color: grey; 
      }
    .etape_number {
      color: #fff;
      background-color: #9356dc;
      border-radius: 50%;
      padding: 2px;
      width: 20px;
      text-align: center;
      z-index: 1; 
      font-size: 15px;
    }
  

  .fondgrisrestaurants {
    margin-top: 80px;
    background-color: #f5f5f5ec;
    padding-bottom: 10px;
  }

  .rest_title {
    margin: 20px;
    padding-top: 60px;
    font-weight: bold;
    font-size: 18px;
  }

  .fondgrisrestaurants {
    margin-top: 25px; }
  
  .carte {            /*restaurants de l'acceuil*/
    background-color: #fff;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 0 10px #a3a3a373;
    padding-bottom: 10px;
    transition: transform 400ms; }
    .carte:hover {
      transform: scale(1.01); }
    .carte img {
      border-radius: 20px 20px 0 0;
      height: 225px;
      width: 335px;
      object-fit: cover; }
    .carte figcaption {
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .carte figcaption h3 {
        font-size: 16px;
        margin: 5px;
        margin-left: 10px; }
      .carte figcaption p {
        font-size: 14px;
        margin: 5px;
        margin-left: 10px; }
      .carte figcaption .like {
        font-size: 25px;
        margin-right: 5%; }
  
  .like { /*new*/
    margin: 5px;
    margin-right: auto;
  }      
  .btn_nouveau {
    position: absolute;
    right: 5px;
    top: 5px; }
    .btn_nouveau p {
      background-color: #99e2d0;
      color: #1c9965;
      padding: 5px;
    border-radius: 5px; }
  
  .carte {
    position: relative; }

  .cover_img {
    height: 217px;
  }
  .cover_img img {
    height: 217px;
    object-fit: cover;
  }

  .restaurant_title {
    display: flex;
    position: relative;
    bottom: 49px;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 50px 50px 0 0;
  }

  .restaurantsubtitle {
    display: flex;
    font-size: 14px;
    letter-spacing: 0.5px;
    align-items: center;
    margin-left: 15px;
    font-weight: normal;
    border-bottom: solid 2px #99e2d0;
    max-width: 40px;
  }

  .shrikhand {
    font-size: 20px;
    position: relative;
    left: 5%;
    top: 20px;
    font-family: shrikhand;
  }

  .like {
    display: flex;
    justify-content: flex-end; /*new*/
    right: 10%;
    font-size: 25px;
    top: 20px;
    margin-left: 2px;
    margin-bottom: 10px;
  }

  .cardmenu {
    position: relative;
    margin: 15px;
    background-color: #fff;
    box-shadow: 0 0 10px #a3a3a373;
    border-radius: 10px;
    padding: 25px;
    cursor: pointer;
    max-width: 78%;
    z-index: 1;
    margin: auto;
    margin-bottom: 10px;
    overflow: hidden;
  }
  .menu_title {
    position: absolute;
    top: -30%;
    left: 5%;
    font-size: 14px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
  }
  .menu_txt {
    /*ajout des classes menu_txt dans les menus en html*/
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 80%;
  }
  .prix {
    position: absolute;
    right: 5px;
    top: 5%;
  }
  .box_hover {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    color: #fff;
    font-size: 20px;
    padding: 15px;
    border-radius: 0 10px 10px 0;
    background-color: #99e2d0;
    top: 0;
    transform-origin: right 50%;
    transition: 0.5s;
    right: -49px;
    width: 17px;
  }
  .cardmenu:hover .menu_txt {
    width: 60%;
  }
  .cardmenu:hover .menu_title {
    width: 60%;
  }
  .box_hover:hover {
    transition: ease-in-out 0.5s;
    transform: translate(-49px);
  }
  .cardmenu:hover .prix {
    transition: ease-in-out 0.5s;
    transform: translate(-49px);
  }
  .cardmenu:hover i {
    animation: rotate 0.6s;
    animation-timing-function: ease-in-out;
    transition-delay: 150ms;
  }
  /*----------------------------------*/
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .default-icon {
    /* like VIDE*/
    position: relative;
    z-index: 1;
    cursor: pointer;
  }

  .hover-icon {
    /* like REMPLI*/
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(#ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: 0.5s ease;
    animation-timing-function: cubic-bezier(0.06, 0.7, 0.9, 0.28);
  }

  .default-icon:hover .hover-icon {
    transform: scale(1);
    opacity: 1;
  }

  .default-icon:hover {
    background: linear-gradient(#ff79da, #9356dc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .main {
    position: relative;
  }

  .btn_commander {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
  }

  .btn {
    position: relative;
    margin: 30px 30px 60px 30px;
    padding: 13px 43px 13px 43px;
    font-size: 14px;
    color: white;
    background: linear-gradient(to bottom, #ff79da 0%, #9356dc 100%);
    box-shadow: 0 0 16px #0f0f0f5b;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: filter 300ms;
    transition: box-shadow 250ms;
  }
  .btn:hover {
    box-shadow: 0 0 16px #00000088;
    filter: brightness(1.15);
  }

  .foodcards .cardmenu {
    opacity: 0;
    animation: transition-delayed 0.5s forwards;
  }

  .foodcards .cardmenu:nth-child(1) {
    animation-delay: 0.1s;
  }

  .foodcards .cardmenu:nth-child(2) {
    animation-delay: 0.2s;
  }

  .foodcards .cardmenu:nth-child(3) {
    animation-delay: 0.3s;
  }

  .foodcards .cardmenu:nth-child(4) {
    animation-delay: 0.4s;
  }

  .foodcards .cardmenu:nth-child(5) {
    animation-delay: 0.5s;
  }

  .foodcards .cardmenu:nth-child(6) {
    animation-delay: 0.6s;
  }

  @keyframes transition-delayed {
    100% {
      opacity: 1;
    }
  }

  

  .footerfond {
    padding: 20px;
    background-color: #2b2b2b;
    width: 100%;
  }

  .footer_logo img {
    width: 100px;
    height: 100%;
    filter: invert(100%);
  }

  .column_footer {
    display: flex;
    flex-direction: column;
  }
  .column_footer i {
    font-size: 12.5px;
    margin-right: 10px;
  }
  .column_footer .fa-hands-helping {
    font-size: 10px;
  }
  .column_footer a {
    color: white;
    margin-top: 10px;
  }
  .with_icon, .without_icon {
    padding-left: 0%;
  }

  .with_icon a, .without_icon a {
    color: white;
  }
   

}